<h2 class="page-header">Groups</h2>
<p>View and manage your groups.</p>
<button type="submit" class="btn btn-info" onclick="displayGroupFields()">Create a Group</button>
<br><br>
<form method="post" action="/groups/create">
  <div class="form-group">
    <input class="form-control" type="text" id="groupName" name="groupName" style="visibility:hidden" placeholder="Group Name">
  </div>
  <div class="form-group">
    <textarea class="form-control" rows=4 cols=50 id="groupDesc" name="groupDesc" style="visibility:hidden" placeholder="Group Description..."></textarea>
  </div>
  <div class="form-group" style="visibility:hidden">
    <select id="groupPrivacy" class="form-control" name="groupPrivacy">
  	<option value="public">Public</option>
  	<option value="invite">Invite Only</option>
  	<option value="private">Private (& Invite Only)</option>
	</select>
  </div>
  <div class="form-group">
  <button class="btn btn-default" type="submit" id="groupSubmit" style="visibility:hidden">Submit</button>
  </div>
</form>

<div>
  <a href="/groups/loadGroups">Load Groups</a>
</div>
<div>
  <a onclick="hideGroups()"> Hide Groups</a>
</div>

<div>
  {{# each groups }}
  <div class="jumbotron">
  <h3>{{ this.name }}<h3>
  <p>{{ this.description }}</p>
</div>
  {{/each}}
</div>
