<h2 class="page-header">Groups</h2>
<p>View and manage your groups.</p>
<button type="submit" class="btn btn-info" onclick="displayGroupFields()">Create a Group</button>
<br><br>
<form method="post" action="/groups/create">
  <div class="form-group">
    <input class="form-control" type="text" id="groupName" name="groupName" style="display:none" placeholder="Group Name">
  </div>
  <div class="form-group">
    <textarea class="form-control" rows=4 cols=50 id="groupDesc" name="groupDesc" style="display:none" placeholder="Group Description..."></textarea>
  </div>
  <div class="form-group" style="display:none">
    <select id="groupPrivacy" class="form-control" name="groupPrivacy">
  	<option value="public">Public</option>
  	<option value="invite">Invite Only</option>
  	<option value="private">Private (& Invite Only)</option>
	</select>
  </div>
  <div class="form-group">
  <button class="btn btn-default" type="submit" id="groupSubmit" style="display:none">Submit</button>
  </div>
</form>

<div>
  <a href="/groups/loadGroups">Load Groups</a>
</div>
<div>
  <a onclick="hideGroups()"> Hide Groups</a>
</div>

<div class="loadtheseGroups">
  {{# each groups }}
  <div class="jumbotron">
    <div contenteditable="true" class="form-control">
      <h3>{{ this.name }}<h3>
      <p>{{ this.description }}</p>
    </div>
  <div class="groupsettings">
    <a href="/groups/addUser">Join Group</a>
    <a href="/groups/deleteGroup">Delete Group</a>
  </div>
</div>
  {{/each}}
</div>
