 <h2 class="page-header">Dashboard</h2>
<p>Welcome to your dashboard</p>
<button type="submit" onclick="displayPostField()">Create a Post</button>
<br><br>
<script>
function displayPostField(){
	document.getElementById("postField").style.visibility = 'visible';
	document.getElementById("postSubmit").style.visibility = 'visible';
}
</script>
<form method="post" action="/posts/post">
  <div class="form-group">
    <input type="text" id="postField" name="postField" style="visibility:hidden">
  </div>
  <div class="form-group">
  <button type="submit" id="postSubmit" style="visibility:hidden">Submit</button>
  </div>
</form>