 <h2 class="page-header">Dashboard</h2>
<p>Welcome to your dashboard</p>
<button type="submit" onclick="/posts/displayPostField">Create a Post</button>
<form method="post" action="/posts/post">
  <div class="form-group">
    <input type="text" id="postField" name="postField" style="display:none">
  </div>
</form>