<h2 class="page-header">Lost and Found</h2>
{{#if errors}}
      {{#each errors}}
        <div class="alert alert-danger">{{msg}}</div>
      {{/each}}
{{/if}}
<form method="post" action="/lostItems/postItem">
<div class="form-group">
  <textarea class="form-control" rows=4 cols=50 id="itemDesc" name="itemDesc" placeholder="Item Description..."></textarea>
</div>

<div class="form-group">
  <input class="form-control" type="text" id="lostAddress" name="Address" placeholder="Address" />
</div>

<div class="form-group">
  <select class="selectpicker" id = "lostRegion" name = "region" title="Region Found">
    <option value="St. John's">St John's</option>
    <option value = "Gander">Gander</option>
    <option value = "UK">UK</option>
  </select>
</div>

<div class="form-group">
  <input class="form-control" type="text" id="phoneNumber" name="phoneNumber" placeholder="Phone Number" />
</div>

  <button type="submit" class="btn btn-default">Submit</button>
</form>

<a href = "/lostItems/viewItems">Click here to view lost items</a>
