<h2 class="page-header">Poll</h2>
<p>View and vote on polls.</p>
<hr>
<h3>Create a poll</h3>
<div class="create-poll">
  <p>Enter the name of the course.</p>
  <form method="post" action="/poll/create">
    <div class="form-group">
      <input class="form-control" type="text" id="pollName" name="pollName" placeholder="Course Name">
    </div>
    <div class="form-group">
      <button class="btn btn-default" type="submit" id="courseSubmit">Submit</button>
    </div>
  </form>
</div>

<hr>

<div>
  <a href="/poll/loadPolls">Show Polls</a>
</div>
<div>
  <a href="/polls">Hide Polls</a>
</div>

<div class="loadthesePolls">
  {{# each poll }}
  <div class="jumbotron">
    <h3>{{ this.name }}<h3>
    <form method="post" action="/poll/vote">
      <div class="form-group">
        <label class="radio-inline"><input type="radio" name="vote" value='1'>1 Star</label>
        <label class="radio-inline"><input type="radio" name="vote" value='2'>2 Stars</label>
        <label class="radio-inline"><input type="radio" name="vote" value='3'>3 Stars</label>
        <label class="radio-inline"><input type="radio" name="vote" value='4'>4 Stars</label>
        <label class="radio-inline"><input type="radio" name="vote" value='5'>5 Stars</label>
      </div>
      <div class="form-group">
        <button class="btn btn-default" type="submit" id="vote">Vote</button>
        <input name="pollId" value="{{this._id}}" style="display:none"/>
      </div>
    </form>
    <p> Author: <a href="/profile/{{this.userId}}">{{ this.author }}</a></p>
    <p> Total number of votes: {{#voteCount this.ratings}} {{/voteCount}}</p>
    <p>
    Average rating:  {{#ratingsAverage this.ratings}}
      {{/ratingsAverage}} stars
    </p>

  </div>
  {{/each}}
</div>
