<h2 class="page-header">Reset Password</h2>
<form method="post" action="/users/reset">
  <div class="form-group">
    <label>Enter your email</label>
    <input type="text" class="form-control" name="email" placeholder="@mun.ca">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
