
<div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <span class="glyphicon glyphicon-cloud-upload"></span>
            <h2>File Uploader</h2>
            <h4>4770 Team Project</h4>
            <div class="progress">
              <div class="progress-bar" role="progressbar"></div>
            </div>
            <input name="userId" value="{{currentUser._id}}" style="display:none"/>
              <button class="btn btn-lg upload-btn" type="submit">Upload File</button>


          </div>
        </div>
      </div>
    </div>
  </div>

<input class="btn btn-default" id="upload-input" type="file" name="uploads[]" multiple="multiple"></br>
